.switch,
.cube1,
.cube2,
.cube3,
.cube4 {
  z-index: -99999;
}

.switch {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: url(../images/switch.png) no-repeat 25% 50%;
  background-size: 15%;
  left: 65%;
  transform: rotate(-25deg);
}

.cube1 {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: url(../images/cube.png) no-repeat 40% 70%;
  background-size: 20%;
  right: 50%;
  transform: rotate(25deg) scaleX(-1);
}

.cube2 {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: url(../images/cube.png) no-repeat 50% 30%;
  background-size: 15%;
  right: 50%;
  transform: rotate(-25deg);
}

.cube3 {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: url(../images/cube.png) no-repeat 90% 20%;
  background-size: 10%;
  right: 10%;
  transform: rotate(-125deg);
}

.cube4 {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: url(../images/cube.png) no-repeat 70% 20%;
  background-size: 5%;
  right: 45%;
  transform: rotate(-70deg);
}

.about-container {
  position: relative;
  margin: 0 auto;
  padding: 150px 0;
  max-width: 1000px;

  .about-heading {
    position: relative;
    text-align: center;
    margin: 10px 0 40px;
    width: 100%;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.5px;
  }

  .about-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    .about-content-container {
      font-family: "roboto", "sans-serif";
      width: 60%;
      max-width: 575px;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      p {
        line-height: 2rem;
      }
      .about-span {
        border: 2px solid #60657a;
        border-radius: 30px;
        padding: 5px 15px;
        color: #60657a;
        font-weight: 400;
      }
      .skills-container {
        display: grid;
        grid-template-columns: repeat(4, minmax(100px, 125px));
        overflow: hidden;
        margin-top: 20px;
        .skills {
          position: relative;
          border: 2px solid rgb(153, 216, 182);
          margin: 5px 10px;
          text-align: center;
          padding: 4px 20px;
          border-radius: 2px;
          font-size: 13px;
          transition: 650ms ease;

          &:hover {
            transform: translateY(-2px);
            box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
            transition: 650ms ease;
            color: #72788d;
          }
        }
      }
    }
    .about-pic-container {
      position: relative;
      width: 40%;
      max-width: 300px;
      mix-blend-mode: multiply;
      .about-avatar-container {
        width: 100%;
        position: relative;
        margin-left: -20px;
        .about-avatar {
          border-radius: 30px;
          position: relative;
        }
      }
    }
  }
}

//tiny 330
@media (max-width: 20.625em) {
}

//phone 376
@media (max-width: 23.5em) {
  .about-pic-container {
    width: 70%;
  }
}

// phablet 480
@media (max-width: 30em) {
}

// thone 600
@media (max-width: 37.5em) {
  .about-flex-container {
    display: block;
  }

  .about-pic-container {
    margin: 60px auto 0;
  }
}

// tablet 768
@media (max-width: 48em) {
  .main-container {
    .about-container {
      .about-flex-container {
        display: block;
        .about-content-container {
          width: 100%;
          .skills-container {
            display: grid;
            grid-template-columns: repeat(4, minmax(100px, 125px));
          }
        }
        .about-pic-container {
          margin: 60px auto;
          .about-avatar-container {
            margin-left: 0;
          }
        }
      }
    }
  }
}

//desktop 1000
@media (max-width: 62.5em) {
  .main-container {
    padding: 0 100px;
    .about-container {
      .about-flex-container {
        .about-content-container {
          .skills-container {
            grid-template-columns: repeat(3, minmax(100px, 125px));
          }
        }
      }
    }
  }
}
