.education-main-container {
  padding: 0 !important;
  margin: 0 auto;
  width: 100%;
  counter-reset: section;
  .test {
    margin-top: 500px;
    .clouds {
      width: 100%;
      height: 100vh;
      position: absolute;
      background: url(../images/clouds.png) no-repeat 100% 100%;
      right: 0%;
      top: 250%;
      background-size: 100%;
      max-width: 2560px;
      z-index: -99999;
    }
  }
}

.education-container {
  position: relative;
  margin: 150px auto;
  padding: 50px 0;
  max-width: 1000px;

  .education-heading {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 100%;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
  }

  .horizontal-rule {
    border-bottom: 2px solid rgb(161, 179, 199);
  }

  .school-container {
    .school-heading {
      margin-top: 40px;
      font-family: "lato", "sans-serif";
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .school-range {
        display: flex;
        font-weight: 300;
        font-size: 16px;
      }
    }

    .school {
      font-size: 15px;
      padding-top: 10px;
    }
  }
}

//phone 376
@media only screen and (min-width: 20.625em) and (max-width: 30em) {
  .education-main-container {
    padding: 0 25px !important;
    .education-container {
      .education-heading {
        font-size: 24px;
      }
      .school-container {
        .school-heading {
          display: block;
          font-size: 18px;
          .school-range {
            padding-top: 5px;
            font-size: 15px;
          }
        }

        .school {
          font-size: 15px;
          padding-top: 20px;
        }
      }
    }
  }
}

@media only screen and (min-width: 31em) and (max-width: 37.5em) {
  .education-main-container {
    padding: 0 25px !important;
    .education-container {
      .education-heading {
        font-size: 24px;
      }
      .school-container {
        .school-heading {
          display: block;
          font-size: 20px;
          .school-range {
            padding-top: 5px;
            font-size: 15px;
          }
        }

        .school {
          font-size: 15px;
          padding-top: 20px;
        }
      }
    }
  }
}

@media only screen and (min-width: 38em) and (max-width: 48em) {
  .education-main-container {
    padding: 0 25px !important;
  }
}

@media only screen and (min-width: 49em) and (max-width: 62.5em) {
  .education-main-container {
    padding: 0 50px !important;
  }
}
