.error-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  align-items: flex-start;
  max-width: 1000px;
  height: 100vh !important;

  h1,
  h2,
  p {
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 10rem;
    width: 100%;
  }
  h2 {
    font-size: 3.5rem;
    width: 100%;
  }

  p {
    max-width: 400px;
    text-align: center;
    font-family: "roboto", "sans-serif";
    margin: 50px auto;
    font-size: 20px;
  }

  .back {
    font-family: "roboto", "sans-serif";
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 15px;
    padding: 10px 30px;
    border: 2px solid rgb(70, 77, 82);
    border-radius: 30px;
    transition: 650ms ease;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      transition: 650ms ease;
      color: #72788d;
    }

    &:active {
      transform: translateY(0);
    }
  }
}
