.moon,
.rocket1,
.rocket2 {
  z-index: -99999;
}
.moon {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: url(../images/moon.png) no-repeat 50% 45%;
  background-size: 40%;
  right: 40%;
}
.rocket1 {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: url(../images/rocket.png) no-repeat 100% 100%;
  background-size: 35%;
  right: 15%;
  transform: rotate(25deg);
}

.rocket2 {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: url(../images/rocket.png) no-repeat 80% 40%;
  background-size: 15%;
  right: 10%;
  transform: rotate(25deg);
}

.experience-container {
  position: relative;
  margin: 0 auto;
  padding: 150px 0;
  max-width: 1000px;
  .experience-heading {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 0 40px;
    width: 100%;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
  }
  .tabs-container {
    display: flex;
    align-items: flex-start;
    position: relative;
    .tabs {
      display: block;
      position: relative;
      width: max-content;
      z-index: 3;
      .tab {
        font-family: "muli", "sans-serif";
        font-weight: 300;
        display: flex;
        align-items: center;
        width: 100%;
        background-color: transparent;
        height: 42px;
        padding: 0 20px 2px;
        border-left: 2px solid rgb(224, 224, 224);
        text-align: left;
        transition: 650ms ease;
        letter-spacing: 2px;
        white-space: nowrap;
        font-size: 14px;
        &:hover,
        &:focus {
          background-color: rgb(240, 240, 240);
        }
      }
    }
  }
  .content-container {
    position: relative;
    padding-left: 30px;
    flex-grow: 1;
    .experience-title {
      font-size: 20px;
      width: 100%;
    }
    .experience-range {
      font-size: 16px;
      font-weight: normal;
      letter-spacing: 0.5px;
      margin-bottom: 30px;
    }

    .experience-details {
      font-family: "roboto", "sans-serif";
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: 300;
    }
  }
}
