.moon,
.rocket1,
.rocket2 {
  z-index: -99999;
  width: 100%;
  height: 100vh;
  position: absolute;
}

#experience-parallax {
  .moon {
    img {
      padding-top: 20%;
      width: 300px;
    }
  }
  .rocket1 {
    padding-top: 30%;
    padding-left: 50%;
    img {
      width: 350px;
      transform: rotate(30deg);
    }
  }
  .rocket2 {
    padding-top: 20%;
    padding-left: 70%;
    img {
      width: 500px;
      transform: rotate(30deg);
    }
  }
}

.experience-container {
  position: relative;
  margin: 0 auto;
  padding: 150px 0;
  max-width: 1000px;
  .experience-heading {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 0 40px;
    width: 100%;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
  }
  .tabs-container {
    display: flex;
    align-items: flex-start;
    position: relative;
    .tabs {
      display: block;
      position: relative;
      width: max-content;
      z-index: 3;
      .tab {
        font-family: "muli", "sans-serif";
        font-weight: 300;
        display: flex;
        align-items: center;
        width: 100%;
        background-color: transparent;
        height: 42px;
        padding: 0 20px 2px;
        border-left: 2px solid rgb(224, 224, 224);
        text-align: left;
        transition: 650ms ease;
        letter-spacing: 2px;
        white-space: nowrap;
        font-size: 14px;
        &:hover,
        &:focus {
          background-color: rgb(240, 240, 240);
        }
      }
    }
  }
  .content-container {
    position: relative;
    padding-left: 30px;
    flex-grow: 1;
    .experience-title {
      font-size: 20px;
      width: 100%;
    }
    .experience-range {
      font-size: 16px;
      font-weight: normal;
      letter-spacing: 0.5px;
      margin-bottom: 30px;
    }

    .experience-details {
      font-family: "roboto", "sans-serif";
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: 300;
    }
  }
}

//small 330
@media only screen and (max-width: 20.625em) {
  .main-container {
    #experience-parallax {
      display: none;
    }
    .experience-container {
      padding: 100px 0;
      .experience-heading {
        font-size: 24px;
      }
      .tabs-container {
        display: block;
        .tabs {
          display: flex;
          width: 100%;
          margin-bottom: 30%;
          overflow-x: scroll;
          .tab {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-width: 120px;
            padding: 0px 15px;
            border-left: 0px;
            border-bottom: 2px solid rgb(218, 220, 224);
            transition: 650ms ease;
            z-index: -1;
          }
        }
      }
      .content-container {
        padding-left: 0;
        .experience-title {
          font-size: 20px;
        }
      }
    }
  }
}

//phone 376
@media only screen and (min-width: 20.7em) and (max-width: 30em) {
  .main-container {
    #experience-parallax {
      display: none;
    }
    .experience-container {
      padding: 100px 0;
      .experience-heading {
        font-size: 24px;
      }
      .tabs-container {
        display: block;
        .tabs {
          display: flex;
          width: 100%;
          margin-bottom: 30px;
          overflow-x: scroll;
          .tab {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-width: 120px;
            padding: 0px 15px;
            border-left: 0px;
            border-bottom: 2px solid rgb(218, 220, 224);
            transition: 650ms ease;
            z-index: -1;
          }
        }
      }
      .content-container {
        padding-left: 0;
        .experience-title {
          font-size: 20px;
        }
      }
    }
  }
}

@media only screen and (min-width: 31em) and (max-width: 37.5em) {
  .main-container {
    #experience-parallax {
      .moon {
        img {
          padding-top: 135px;
          width: 150px;
        }
      }
      .rocket1 {
        padding-top: 650px;
        padding-left: 150px;
        img {
          width: 150px;
          transform: rotate(30deg);
        }
      }
      .rocket2 {
        padding-top: 325px;
        padding-left: 250px;
        img {
          width: 200px;
          transform: rotate(30deg);
        }
      }
    }
    .experience-container {
      padding: 100px 0;
      .experience-heading {
        font-size: 24px;
      }
      .tabs-container {
        display: block;
        .tabs {
          display: flex;
          width: 100%;
          margin-bottom: 30px;
          overflow-x: scroll;
          .tab {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-width: 120px;
            padding: 0px 15px;
            border-left: 0px;
            border-bottom: 2px solid rgb(218, 220, 224);
            transition: 650ms ease;
            z-index: -1;
          }
        }
      }
      .content-container {
        padding-left: 0;
        .experience-title {
          font-size: 20px;
        }
      }
    }
  }
}

@media only screen and (min-width: 38em) and (max-width: 48em) {
  .main-container {
    #experience-parallax {
      .moon {
        img {
          padding-top: 120px;
          width: 200px;
        }
      }
      .rocket1 {
        padding-top: 560px;
        padding-left: 270px;
        img {
          width: 200px;
          transform: rotate(30deg);
        }
      }
      .rocket2 {
        padding-top: 255px;
        padding-left: 400px;
        img {
          width: 250px;
          transform: rotate(30deg);
        }
      }
    }
  }
}

@media only screen and (min-width: 49em) and (max-width: 62.5em) {
  .main-container {
    #experience-parallax {
      .moon {
        img {
          padding-top: 150px;
          width: 225px;
        }
      }
      .rocket1 {
        padding-top: 500px;
        padding-left: 270px;
        img {
          width: 225px;
          transform: rotate(30deg);
        }
      }
      .rocket2 {
        padding-top: 285px;
        padding-left: 430px;
        img {
          width: 275px;
          transform: rotate(30deg);
        }
      }
    }
  }
}

@media only screen and (min-width: 63em) and (max-width: 75em) {
  .main-container {
    #experience-parallax {
      .moon {
        img {
          padding-top: 150px;
          width: 300px;
        }
      }
      .rocket1 {
        padding-top: 550px;
        padding-left: 300px;
        img {
          width: 250px;
          transform: rotate(30deg);
        }
      }
      .rocket2 {
        padding-top: 355px;
        padding-left: 500px;
        img {
          width: 325px;
          transform: rotate(30deg);
        }
      }
    }
  }
}
