footer {
  padding: 50px 50px 0 50px;
  background-color: #272932;
  color: #faf9f9;
  text-align: center;
  height: auto;
  margin-top: 150px;
  min-height: 200px;
  position: relative;
  &:before,
  &:after {
    pointer-events: none;
  }
  &:before,
  &:after,
  & > .footer-arrow {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -20px;
    border: 20px solid transparent;
    border-bottom-color: #272932;
  }
  &:after {
    margin-left: -8px;
    border-width: 8px;
  }
  & > .footer-arrow {
    margin-left: -11px;
    border-width: 11px;
    border-bottom-color: #72788d;
    transition: 500ms ease;
  }

  .footer-arrow:hover {
    border-bottom-color: #fff;
    transition: 500ms ease;
  }

  .footer-flex-container {
    padding: 0 100px;
    display: flex;
    letter-spacing: 1px;
    justify-content: space-between;
    align-items: center;

    a {
      color: #72788d;
      margin-top: 10px;
      transition: 650ms ease;

      &:hover {
        transition: 650ms ease;
        color: #fff;
      }
    }

    .footer-contact-container {
      font-family: "muli", "sans-serif";
      font-size: 15px;

      .footer-contact-heading {
        text-align: left;
      }

      h1 {
        font-size: 15px;
      }
      a {
        margin-top: 0;
        font-size: 15px;
      }

      .email-container {
        .fa-envelope {
          margin-right: 30px;
          color: #72788d;
        }
      }

      .location-container {
        padding-top: 20px;
        .fa-map-marker-alt {
          margin-right: 34px;
          color: #72788d;
        }
      }

      .email-container,
      .location-container {
        padding: 10px 0;
        text-align: left;
        a {
          color: #72788d;

          &:hover {
            color: #fff;
          }
        }
      }
    }

    .footer-social-container {
      font-family: "muli", "sans-serif";
      color: #faf9f9;
      width: 100%;
      max-width: 500px;
      text-align: center;

      .footer-social-heading {
        letter-spacing: 0px;
        font-size: 18px;
      }

      .social-list {
        display: inline-flex;
        text-decoration: none;
        list-style-type: none;
        margin: 0 7px;
      }

      .social-links {
        padding: 10px 0;
        display: inline-block;
        height: 15px;
        width: auto;
        margin: 0 10px;
      }
    }

    .footer-navigation-container {
      font-family: "muli", "sans-serif";
      font-size: 15px;
      text-align: right;
      border-right: 2px solid #fff;
      a {
        margin: 5px 10px;
        font-family: "muli", "sans-serif";
        color: #72788d;
        font-size: 15px;
        font-weight: 300;

        &:hover {
          color: #fff;
        }
      }
    }

    & > div {
      flex: 1;
      width: 33%;
      margin: 10px 0;
    }
  }

  .copyright {
    padding: 25px 0 25px 0;
    font-family: "muli", "sans-serif";
    font-size: 14px;
    color: rgb(163, 173, 190);
    background-color: #272932;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}
