.hero-main-container {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  counter-reset: section;
  .hero-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 50px;
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    opacity: 0;
    -moz-animation: 0.5s fade 0.5s forwards;
    animation: 0.5s fade 0.5s forwards;
    h1 {
      margin: 0 0 15px 4px;
      font-size: 20px;
      letter-spacing: 1px;
      font-family: "Lato", "sans-serif";
      font-weight: normal;
      opacity: 0;
      -moz-animation: 0.5s fade 0.5s forwards;
      animation: 0.5s fade 0.5s forwards;
    }

    h2 {
      font-size: 80px;
      line-height: 1.1;
      margin: 0;
      font-family: "Muli", "sans-serif";
      opacity: 0;
      -moz-animation: 0.5s fade 0.5s forwards;
      animation: 0.5s fade 0.7s forwards;
    }

    h3 {
      font-size: 50px;
      line-height: 1.1;
      font-family: "Muli", "sans-serif";
      opacity: 0;
      -moz-animation: 0.5s fade 0.5s forwards;
      animation: 0.5s fade 0.9s forwards;
      color: rgb(150, 218, 173);
    }

    .hero-details {
      margin: 0 0 0 4px;
      font-family: "Lato", "sans-serif";
      opacity: 0;
      -moz-animation: 0.5s fade 0.5s forwards;
      animation: 0.5s fade 1.1s forwards;
    }

    #email-btn {
      margin-right: 20px;
      opacity: 0;
      -moz-animation: 0.5s fade 0.5s forwards;
      animation: 0.5s fade 1.2s forwards;
    }

    .main-btn {
      font-family: "Lato", "sans-serif";
      margin: 0 0 0 4px;
      font-size: 1rem;
      border: 2px solid #72788d;
      padding: 1rem 1.5rem;
      letter-spacing: 1px;
      margin-right: -1px;
      position: relative;
      margin-top: 3rem;
      color: #72788d;
      background-color: transparent;
      -moz-transition: 650ms ease;
      transition: 650ms ease;
      z-index: 999;
      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        -moz-transition: 650ms ease;
        transition: 650ms ease;
        color: #72788d;
      }

      &:active {
        transform: translateY(0);
      }
      opacity: 0;
      -moz-animation: 0.5s fade 0.5s forwards;
      animation: 0.5s fade 1.4s forwards;
    }
  }
}

//small 330
@media only screen and (max-width: 20.625em) {
  .hero-main-container {
    .hero-bg {
      background-position: calc(100%) calc(100% + 350px);
    }
    .hero-container {
      h1 {
        font-size: 13px;
      }
      h2 {
        font-size: 30px;
      }
      h3 {
        font-size: 25px;
      }
      .hero-details {
        font-size: 14px;
        font-weight: 300;
      }

      #email-btn {
        margin-right: 10px;
      }

      .main-btn {
        font-size: 14px;
        margin-top: 10px;
        padding: 0.7rem 0.4rem;
        font-weight: 300;
      }
    }
  }
}

//phone 376
@media only screen and (max-width: 23.5em) {
  .hero-main-container {
    .hero-bg {
      background-position: calc(100%) calc(100% + 400px);
    }
    .hero-container {
      h1 {
        font-size: 13px;
      }
      h2 {
        font-size: 40px;
      }
      h3 {
        font-size: 30px;
      }
      .hero-details {
        font-size: 14px;
        font-weight: 300;
      }

      .main-btn {
        font-size: 14px;
        margin-top: 10px;
        padding: 1rem 0.7rem;
        font-weight: 300;
      }
    }
  }
}

//phablet 480
@media only screen and (max-width: 30em) {
  .hero-main-container {
    .hero-bg {
      background-position: calc(100%) calc(100% + 400px);
    }
    .hero-container {
      h1 {
        font-size: 14px;
      }
      h2 {
        font-size: 50px;
      }
      h3 {
        font-size: 40px;
      }
      .hero-details {
        font-size: 17px;
        font-weight: 300;
      }

      .main-btn {
        font-size: 15px;
        margin-top: 10px;
        padding: 1rem 1rem;
        font-weight: 300;
      }
    }
  }
}

@media only screen and (max-width: 37.5em) {
  .hero-main-container {
    .hero-bg {
      background-position: calc(100%) calc(100% + 400px);
    }
    .hero-container {
      h1 {
        font-size: 15px;
      }
      h2 {
        font-size: 60px;
      }
      h3 {
        font-size: 50px;
      }
      .hero-details {
        font-size: 18px;
        font-weight: 300;
      }

      .main-btn {
        font-size: 15px;
        margin-top: 10px;
        padding: 1rem 1rem;
        font-weight: 300;
      }
    }
  }
}

@media only screen and (max-width: 48em) {
  .hero-main-container {
    .hero-bg {
      background-position: calc(100%) calc(100% + 400px);
    }
    .hero-container {
      h1 {
        font-size: 15px;
      }
      h2 {
        font-size: 60px;
      }
      h3 {
        font-size: 50px;
      }
      .hero-details {
        font-size: 18px;
        font-weight: 300;
      }

      .main-btn {
        font-size: 15px;
        margin-top: 10px;
        padding: 1rem 1rem;
        font-weight: 300;
      }
    }
  }

  .nav-bar {
    padding: 1rem 3rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .nav-bar {
    padding: 1rem 3rem;
  }
}

/*

//big desktop 1200
@media (max-width: 75em) {
}

//giant 1440
@media (max-width: 90em) {
}
*/
