.project-container {
  margin: 0 auto;
  padding: 150px 0;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 99999;

  .project-heading {
    text-align: center;
    letter-spacing: 1px;
    margin: 0 auto 50px;
    font-size: 30px;
  }
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 20px;
    position: relative;
    .project {
      opacity: 0;
      animation: 0.5s fade 0.1s forwards;
      transition: 650ms ease;
      &:hover,
      &:focus {
        outline: 0;
        .project-inner {
          transition: 650ms ease;
          transform: translateY(-5px);
          box-shadow: 0 2px 4px #272932;
          box-shadow: 0 19px 38px #272932 15px 12px #272932;
        }
      }

      .project-inner {
        transition: 650ms ease;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
        align-items: flex-start;
        height: 34vh;

        &:hover {
          .project-overlay {
            transition: 650ms ease;
            opacity: 1;
          }
        }

        .project-image-container {
          display: flex;
          .project-image {
            position: unset !important;
            display: block;
            object-fit: cover;
            border-radius: 5px;
            transition: 650ms ease;
          }
        }

        .project-overlay {
          position: relative;
          display: inline-block;
          opacity: 0;
          padding: 25px;
          width: 100%;
          height: 100%;

          background-color: rgba(0, 0, 0, 0.8);
          transition: 650ms ease;

          .project-content {
            .project-header {
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
              margin-bottom: 30px;

              .project-folder {
                color: #a6e2b5;
                font-weight: 700;
                svg {
                  width: 40px;
                  height: 40px;
                }
              }
            }

            .project-name {
              font-family: "roboto", "sans-serif";
              letter-spacing: 1px;
              margin: 0 0 10px;
              font-weight: 400;
              font-size: 17px;
              color: #fff;
            }

            .project-description {
              font-family: "Roboto", "sans-serif";
              letter-spacing: 0.5px;
              font-weight: 300;
              font-size: 15px;
              color: #fff;
            }
          }
          .tech-list {
            flex-grow: 1;
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            margin-top: 20px;
            li {
              font-family: "roboto", "sans-serif";
              font-size: 14px;
              color: #fff;
              line-height: 1.75;
              letter-spacing: 0.5px;
              font-weight: 300;
              margin-right: 15px;
              &:last-of-type {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
  .showMoreButton {
    margin: 50px auto 0;
    border: 2px solid #72788d;
    background-color: transparent;
    padding: 1rem 1.5rem;
    letter-spacing: 1px;
    font-size: 16px;
    color: #72788d;
    transition: 650ms ease;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      transition: 650ms ease;
      color: #72788d;
    }

    &:active {
      transform: translateY(0);
    }
  }
}

@media only screen and (min-width: 20.625em) and (max-width: 37.5em) {
  .main-container {
    .project-container {
      padding: 100px 0;
      .project-folder {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 62.5em) and (max-width: 90em) {
  .main-container {
    .project-container {
      .project-grid {
        .project {
          .project-inner {
            height: 36vh;
          }
        }
      }
    }
  }
}
