.aboutContainer {
  position: relative;
  margin: 0 auto;
  padding: 0 0 150px 0;
  max-width: 1000px;

  .aboutHeading {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 0 40px;
    width: 100%;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
  }

  .aboutFlexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    .aboutContentContainer {
      width: 60%;
      max-width: 500px;
      font-size: 17px;
      letter-spacing: 1px;
      .skillsContainer {
        display: grid;
        grid-template-columns: repeat(2, minmax(140px, 200px));
        overflow: hidden;
        margin-top: 20px;
        .skillLi {
          position: relative;
          margin-bottom: 10px;
          padding-left: 20px;
          font-size: 15px;
          &:before {
            content: "▹";
            position: absolute;
            left: 0;
            font-size: 16px;
            line-height: 16px;
          }
        }
      }
    }
    .aboutPicContainer {
      position: relative;
      position: relative;
      width: 40%;
      max-width: 300px;
      margin-left: 60px;
      mix-blend-mode: multiply;
      .aboutAvatarContainer {
        width: 100%;
        position: relative;
        margin-left: -20px;
        .aboutAvatar {
          border-radius: 5px;
          position: relative;
          filter: grayscale(100%) contrast(1);
          transition: 650ms ease;
          &:hover {
            transition: 650ms ease;
            filter: grayscale(0%) contrast(1);
          }
        }
      }
    }
  }
}
