.experience-container {
  position: relative;
  margin: 0 auto;
  padding: 150px 0;
  max-width: 700px;
  .experience-title {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 0 40px;
    width: 100%;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
  }
  .tabs-container {
    display: flex;
    align-items: flex-start;
    position: relative;
    .tabs {
      display: block;
      position: relative;
      width: max-content;
      z-index: 3;
      .tab {
        font-family: "muli", "sans-serif";
        font-weight: 300;
        display: flex;
        align-items: center;
        width: 100%;
        background-color: transparent;
        height: 42px;
        padding: 0 20px 2px;
        border-left: 2px solid rgb(224, 224, 224);
        text-align: left;
        transition: 650ms ease;
        letter-spacing: 2px;
        white-space: nowrap;
        font-size: 14px;
        &:hover,
        &:focus {
          background-color: rgb(214, 214, 214);
        }
      }
    }
  }
  .content-container {
    position: relative;
    padding-left: 30px;
    flex-grow: 1;
  }
  .job-title {
    font-size: 20px;
    width: 100%;
    .company {
    }
  }
  .job-range {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: #444;
    margin-bottom: 30px;
    svg {
      width: 15px;
    }
  }

  .job-description {
    font-family: "roboto", "sans-serif";
    letter-spacing: 1px;
    font-weight: 300;
  }
}
