footer {
  padding: 50px 50px 0 50px;
  background-color: #272932;
  color: #faf9f9;
  text-align: center;
  height: auto;
  margin-top: 150px;
  min-height: 200px;

  a {
    color: #72788d;
    margin-top: 10px;
    transition: 650ms ease;

    &:hover {
      transition: 650ms ease;
      color: #fff;
    }
  }

  .footFlexContainer {
    padding: 0 100px;
    display: flex;
    letter-spacing: 1px;
    justify-content: space-between;
    align-items: center;

    .contactContainer {
      font-family: "muli", "sans-serif";
      font-size: 15px;

      .contactTitle {
        text-align: left;
      }

      h1 {
        font-size: 15px;
      }
      a {
        margin-top: 0;
        font-size: 15px;
      }

      .fa-envelope {
        margin-right: 30px;
        color: #72788d;
      }
      .fa-map-marker-alt {
        margin-right: 34px;
        color: #72788d;
      }

      .locationContainer {
        padding-top: 20px;
      }

      .emailContainer,
      .locationContainer {
        padding: 10px 0;
        text-align: left;
        a {
          color: #72788d;

          &:hover {
            color: #fff;
          }
        }
      }
    }

    .socialContainer {
      font-family: "muli", "sans-serif";
      color: #faf9f9;
      width: 100%;
      max-width: 500px;
      text-align: center;

      .footerTitle {
        letter-spacing: 0px;
        font-size: 18px;
      }

      .socialItemList {
        display: inline-flex;
        text-decoration: none;
        list-style-type: none;
        margin: 0 7px;
      }

      .socialLink {
        padding: 10px 0;
        display: inline-block;
        height: 15px;
        width: auto;
        margin: 0 10px;
      }
    }

    .footNavContainer {
      font-family: "muli", "sans-serif";
      font-size: 15px;
      text-align: right;

      .topLink {
        #top {
          filter: grayscale(100%) contrast(30%) sepia(100%) hue-rotate(100deg)
            brightness(100%) invert(0);
          transition: 650ms ease;
          width: 25px;
          padding-bottom: 20px;

          &:hover {
            filter: grayscale(100%) contrast(0%) sepia(0%) hue-rotate(0)
              brightness(0) invert(1);
            transition: 650ms ease;
          }
        }
      }

      a {
        font-family: "muli", "sans-serif";
        color: #72788d;
        font-size: 15px;
        font-weight: 300;

        &:hover {
          color: #fff;
        }
      }
    }

    & > div {
      flex: 1;
      width: 33%;
      margin: 10px 0;
    }
  }

  .copyright {
    padding: 25px 0 25px 0;
    font-family: "muli", "sans-serif";
    font-size: 14px;
    color: #fff;
    background-color: #272932;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}
