footer {
  padding: 50px 50px 0 50px;
  background-color: #272932;
  color: #faf9f9;
  text-align: center;
  height: auto;
  margin-top: 150px;
  min-height: 200px;

  a {
    color: #72788d;
    margin-top: 10px;
    font-size: 20px;
    transition: 650ms ease;

    &:hover {
      transition: 650ms ease;
      color: #fff;
    }
  }

  .footFlexContainer {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contactContainer {
      font-family: "muli", "sans-serif";
      font-size: 15px;
      a {
        margin-top: 0;
        font-size: 15px;
      }

      .locationContainer {
        padding-top: 20px;
      }

      .emailContainer,
      .locationContainer {
        text-align: left;
      }
    }

    .socialContainer {
      font-family: "muli", "sans-serif";
      color: #faf9f9;
      width: 100%;
      max-width: 500px;
      text-align: center;

      .footerTitle {
        font-size: 18px;
      }

      .socialItemList {
        display: inline-flex;
        text-decoration: none;
        list-style-type: none;
        margin: 0 7px;
      }

      .socialLink {
        padding: 10px 0;
        display: inline-block;
        height: 15px;
        width: auto;
        margin: 0 10px;
      }
    }

    .footNavContainer {
      text-align: right;
      a {
        font-size: 16px;
      }
    }

    & > div {
      flex: 1;
      width: 33%;
      margin: 10px 0;
    }
  }

  .copyright {
    padding: 50px 0 25px 0;
    font-family: "Lato", "sans-serif";
    font-size: 14px;
    color: #fff;
    background-color: #272932;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}
